# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vs/
.vscode/
*.user
*.csproj
*.sln

# Unity library/build artifacts
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# AssetRipper working output
AssetRipper/
Ripped/
